/*
 Nori is a complete css grid system to format webpages.
 It makes use of an unequal-width column style with fixed gutters
 The classes are a CSS style, meaning they describe different elements you can use,
 instead of writing the column location and number out (sidebars rather than col-md-3)
 Nori is developed and updated by Patrick O'Doherty
 Project was started on Feb 14, 2018 */
/* Import Fonts */
@import url("https://fonts.googleapis.com/css?family=Alegreya|Alegreya+Sans|Merriweather|Merriweather+Sans|Nunito|Nunito+Sans|Quattrocento|Quattrocento+Sans|Roboto|Roboto+Mono|Roboto+Slab");
/* Global Styles */
/* Here, we change the box-sizing to border-box so calculations are consistent  */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin-top: 2rem !important;
  font-family: 'Roboto Slab', sans-serif;
  color: #302934;
  background-color: #f1f1f1;
}

div {
  display: block;
}

.icon {
  margin-left: 5px;
  margin-right: 10px;
  color: #A53B50;
}

/* Grid container */
.l-wrap {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.column {
  width: calc((100% - 24px * 12) / 12);
  margin-right: 12px;
  margin-left: 12px;
  background: rgba(0, 0, 255, 0.5);
  float: left;
  height: 80px;
}

/* Text */
/* Describes different classes that format text */
.title {
  font-size: 1.3em;
}

.date {
  color: #A53B50;
  padding: 5px 0 5px 0;
}

.date .current {
  background-color: #A53B50;
  color: #fff;
  border-radius: 4px;
  padding: 0 8px 0 8px;
}

.desc {
  color: black;
}

/* Navigation Bar */
.l-nav {
  text-align: center;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  top: 0px;
  margin-bottom: 15px;
}

.l-nav:after {
  display: table;
  clear: both;
  content: '';
}

.l-nav a {
  color: #D84758;
  margin-left: 10px;
  margin-right: 10px;
  outline: none;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.35em;
}

.l-nav a:hover {
  text-decoration: overline underline;
  text-decoration-color: #302934;
}

/* Page */
/* This is a full page */
.l-page {
  height: 80%;
  background-color: #fff;
}

.l-page .entry {
  padding: 5px 5px 5px 5px;
  border: 5px dashed #302934;
}

.l-page .entry .heading {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  padding: 5px 5px 5px 5px;
  text-decoration: underline;
}

.l-page .entry img {
  height: 30%;
  width: 20%;
  object-fit: cover;
  float: left;
}

.l-page .entry .desc {
  padding-left: 20px;
  font-size: 1.25vw;
  height: 30%;
  overflow: auto;
}

/* Portfolio */
/* A portfolio has a guest profile, an article, and a sidebar */
.l-portfolio:after {
  display: table;
  clear: both;
  content: '';
}

.l-portfolio p {
  margin-bottom: 5px;
  margin-top: 0;
}

@media (min-width: 700px) {
  .l-portfolio .grid-item {
    padding-left: 12px;
    padding-right: 12px;
    float: left;
  }
}

.l-portfolio .l-profile {
  min-height: 500px;
  background-color: #fff;
}

@media (min-width: 700px) {
  .l-portfolio .l-profile {
    width: 33.33333%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .l-portfolio .l-profile {
    width: 25%;
  }
}

.l-portfolio .l-profile .picture-container {
  margin-top: 10px;
  position: relative;
  display: block;
  overflow: hidden;
}

.l-portfolio .l-profile .picture-caption {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  color: white;
  position: absolute;
  left: 10;
  bottom: 10;
}

.l-portfolio .l-profile .contact {
  margin-top: 5px;
  font-weight: bold;
  display: block;
  text-align: justify;
}

.l-portfolio .l-main {
  margin-top: 20px;
  min-height: 500px;
  background-color: #fff;
}

@media (min-width: 700px) {
  .l-portfolio .l-main {
    width: 66.66667%;
    margin-top: 0;
    float: left;
  }
}

@media (min-width: 1200px) {
  .l-portfolio .l-main {
    width: 50%;
  }
}

.l-portfolio .l-main .work-history {
  margin-left: 50px;
}

.l-portfolio .l-sidebar {
  margin-top: 20px;
  min-height: 500px;
  background-color: #fff;
}

@media (min-width: 700px) {
  .l-portfolio .l-sidebar {
    width: 66.66667%;
    float: right;
  }
}

@media (min-width: 1200px) {
  .l-portfolio .l-sidebar {
    width: 25%;
    margin-top: 0;
  }
}
/*# sourceMappingURL=nori.css.map */